.wrapper{
    margin: 10px auto;
    width: fit-content;
    text-align: center;
}

#carImg{
    width: 100%;
}

#colorBtns{
    display: flex;
    justify-content: center;
    margin: 0 auto;

}
.dot{
    border: none;
    width: 20px;
    height: 30px;
    margin: 0 3px;
    border-radius: 3px;
}





